#container1{
    background-color: #1F2937;
    display:flex;
    justify-content: center;
    align-items: space-between;
    flex-wrap: wrap;
    padding:30px;
}
#conatiner1 h1{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}
#container1 img{
    width: 200px;
}
